{% extends "layout.njk" %}

{% block content %}
    <main>
        <div class="card">
            <section class="avatar2" style="background: url({{student.avatar_url}}) no-repeat center center / cover"></section>
            <section class="details">
                <h3>Aluno</h3>

                <div class="item">
                    <div>Nome do Aluno</div>
                    <div>{{student.name}}</div>
                </div>

                <div class="item">
                    <div>Idade</div>
                    <div>{{student.age}} Anos</div>
                </div>

                <div class="item">
                    <div>Ano Escolar</div>
                    <div>{{student.school_year}}</div>
                </div>

                <div class="item">
                    <div>Email</div>
                    <div>{{student.email}}</div>
                </div>

                <div class="item">
                    <div>Carga Hóraria Semanal</div>
                    <div>
                        <span>{{student.workload}} Hóras</span>
                    </div>
                </div>
                <div class="item">
                    <div>Desde</div>
                    <div>{{student.created_at}}</div>
                </div>
                <a href="/students/{{student.id}}/edit" class="edit">Editar</a>

            </section>
        </div>
    </main>

{% endblock content %}